<div mat-dialog-title>


    <h1>Manage Products</h1>
    
    </div>
    <form [formGroup] ="productsForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> Product Category</mat-label>
            <input matInput type="varchar" formControlName="category">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" formControlName="pname">
          </mat-form-field>
        </div>
        <div class="row">
              
        <mat-form-field appearance="outline">
            <mat-label> Amount</mat-label>
            <input matInput type="text" formControlName="amount">
          </mat-form-field>
        </div>
          <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput type="text" formControlName="duration">
          </mat-form-field>
          
     </div>     
     <div mat-dialog-action class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button  type="submit">{{data?'Update':'Save'}}</button>
      </div>
      </form>
